
.vs/GiftMacroBrowser/v15/Server/sqlite3/db.lock
.vs/GiftMacroBrowser/v15/Server/sqlite3/storage.ide
.vs/GiftMacroBrowser/v15/Server/sqlite3/storage.ide-shm
.vs/GiftMacroBrowser/v15/Server/sqlite3/storage.ide-wal
